body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/** FONTS **/
@font-face {
  font-family: 'Silkscreen';
  src:url('./assets/fonts/Silkscreen.ttf.woff') format('woff'),
      url('./assets/fonts/Silkscreen.ttf.svg#Silkscreen') format('svg'),
      url('./assets/fonts/Silkscreen.ttf.eot'),
      url('./assets/fonts/Silkscreen.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
